body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #2A1B5c;
  color: white;
}

.home-header {
  background: #e49744;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-link {
  color: #fff;
  text-decoration: none;
}

.welcome {
  text-align: center;
  padding: 50px 20px;
}

.banner-img {
  width: 20%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.categories {
  background:#2A1B5c;
  padding: 40px 20px;
  text-align: center;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 20px;
  background: #e49744;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.categories li:hover {
  background: #e68012;
}

.home-footer {
  text-align: center;
  background: black;
  padding: 20px;
  margin-top: 40px;
}